body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;
}

.hero {
    font-size: 40px;
    height: 100vh;
}
footer {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    font-size: 30px;
}
li {
    /* width: 200px; */
    text-decoration: none;
}
h1 {
    font-size: 90px;
    margin: 0;
}
.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}
.button {
    margin-top: 18px;
    width: 180px;
    height: 50px;
    background-color: dimgrey;
    border-radius: 30px;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}
.button:hover {
    background-color: darkslategray;
}
p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
.subtext {
    font-size: 15px;
}