html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;
}
.title {
    margin-top: 20px;
}
.hero {
    font-size: 40px;
    height: 100vh;
}
.resume {
    height: 100vh;
    text-align: center;
}
.resume h2 {
    text-align: center;
}
.contact {
    height: 100vh;
    
}
footer {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: darkslategrey;
}
ul {
    display: flex;
    list-style-type: none;
    width: 700px;
    justify-content: space-between;
    font-size: 30px;
}
li {
    /* width: 200px; */
    text-decoration: none;
}
h1 {
    font-size: 90px;
}
h2 {
    font-size: 40px;
}
.pointer {
    cursor: pointer;
}
.hero-area {
    /* margin-left: 80px; */
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}
.button {
    margin-top: 18px;
    width: 180px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}
.button:hover {
    background-color: dimgrey;
}
.button:active {
    background-color: darkslategray;
}
p {
    /* margin-bottom: 
    margin:  */
    font-size: 30px;
    font-weight: 300;
}
a {
    color:white;
    text-decoration: none;
}
.socials {
    padding-bottom: 200px;
}
.social {    
    margin: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
}
.subtext {
    font-size: 15px;
}
.about {
    
    height: 100vh;
    background-color: white;
    color:black;
}
.subsection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 60px; */
}